{% extends 'base.html' %}

{% load  editor_assests %}

{% block css %}
{% css_editor_assets include_bootstrap=False %}
{% endblock %}

{% block content %}
    <h1 class="text-center">Add your comment<br><small>Enter as much malicious input as you want!</small></h1>
    <form class="" method="POST" action="{% url 'comments_comment_create' %}">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label">Comment</label>
            <div class="controls editor">
                {{ form.comment }}
            </div>
            <div>{{ form.comment.errors }}</div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Save" />
        </div>
    </form>
{% endblock %}

{% block js %}
{% js_editor_assets %}
<script>
    $(document).ready(function(){
        $('#comment-secure-input').wysiwyg();
    });
</script>
{% endblock %}