<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Django Secure Input Example</title>
    {% block css %}
    <link href="{{ STATIC_URL }}secure_input/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}secure_input/font-awesome/css/font-awesome.css" rel="stylesheet">
    {% endblock %}
    {% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>