.editor-wrapper{
    background: rgb(238,238,238);
    padding: 10px 20px;
}
.bootstrap-wysiwyg{
    height: 140px;
    width: 960px;
    background: white;
    padding: 5px;
}
.bootstrap-wysiwyg:focus{
    outline: none;
}